useDynLib(PPLS)
import(O2PLS)
import(Rcpp)
import(ggplot2)
import(RcppEigen)
#exportPattern("^[[:alpha:]]+")


export(EMstep_W)
export(PPLS)
export(PPLSi)
#export(loglC)
#export(EMstepC)
#export(simulC)
export(logl_W)
#export(loglC_fast)
#export(EMstepC_fast)
export(print.PPLS)
export(plot.PPLS)
export(scores.PPLS)
